@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--color-gray-50);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--color-border);
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

@theme base {
  /* gradients */
  --color-gray-gradient: linear-gradient(to right, #d1d5db, #9ca3af);

  /* 
  - Primary 
  */
  --color-primary-25: #f9f6fe;
  --color-primary-50: #f3e8ff;
  --color-primary-100: #e4cdff;
  --color-primary-200: #c39aff;
  --color-primary-300: #9c63ff;
  --color-primary-400: #6e2bfa;
  --color-primary-500: #4b07de;
  --color-primary-600: #3e05b8;
  --color-primary-700: #310393;
  --color-primary-800: #24026e;
  --color-primary-900: #160149;
  --color-primary-950: #0c012e;

  /* 
  - Status
  */

  /* Completed */
  --color-completed: #e9f7f0;
  --color-completed-border: #c9eedf;
  --color-completed-text: #127457;
  --color-completed-accent: #059669;

  /* Pending */
  --color-pending: #fef9c3;
  --color-pending-border: #fde68a;
  --color-pending-text: #92400e;
  --color-pending-accent: #f59e0b;

  /* Error */
  --color-error: #fee2e2;
  --color-error-border: #fca5a5;
  --color-error-text: #991b1b;
  --color-error-accent: #dc2626;

  /* Info */
  --color-info: #dbeafe;
  --color-info-border: #bfdbfe;
  --color-info-text: #1e3a8a;
  --color-info-accent: #2563eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  /* Font Families */
  --font-heading: "Manrope", system-ui, -apple-system, sans-serif;
  --font-body: "Inter", system-ui, -apple-system, sans-serif;

  /* Font Sizes */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-md: 1.125rem; /* 18px */
  --text-lg: 1.25rem; /* 20px */
  --text-xl: 1.5rem; /* 24px */
  --text-2xl: 2rem; /* 32px */
  --text-3xl: 2.5rem; /* 40px */

  /* Line Heights */
  --leading-tight: 1.25;
  --leading-normal: 1.6;
  --leading-loose: 1.8;

  /* Letter Spacing */
  --tracking-tight: -0.01em;
  --tracking-normal: 0;

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--text-base);
  line-height: var(--leading-normal);
  color: #1f2937; /* calm dark gray */
  background-color: #f9fafb; /* soft off-white */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
label {
  font-family: var(--font-heading);
  /* font-weight: 700; */
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-tight);
  margin: 0;
}

p,
small {
  font-family: var(--font-body);
  font-size: var(--text-base);
  line-height: var(--leading-loose);
  margin: 0;
}

span {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.text-muted {
  color: #6b7280;
  font-size: var(--text-sm);
}

.text-small {
  font-size: var(--text-sm);
}

.text-xs {
  font-size: var(--text-xs);
}

.text-label {
  font-family: var(--font-heading);
  font-size: var(--text-sm);
  font-weight: 600;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #6b7280;
}

strong {
  font-weight: 600;
  color: #111827;
}

em {
  font-style: italic;
}

button,
input,
textarea {
  font-family: var(--font-body);
  font-size: var(--text-sm);
}

button {
  font-weight: 500;
  letter-spacing: 0.01em;
}

/* colors */
.primary-mix {
  @apply bg-linear-210 from-primary-400 to-primary-300;
}

.gray-mix {
  @apply bg-linear-210 from-gray-300 to-gray-100;
}

.blue-mix {
  @apply bg-linear-210 from-blue-600 to-sky-500;
}

.sky-mix {
  @apply bg-linear-210 from-sky-600 to-cyan-500;
}

.cyan-mix {
  @apply bg-linear-210 from-cyan-600 to-teal-500;
}

.teal-mix {
  @apply bg-linear-210 from-teal-600 to-emerald-500;
}

.emerald-mix {
  @apply bg-linear-210 from-emerald-600 to-green-500;
}

.green-mix {
  @apply bg-linear-210 from-green-600 to-lime-500;
}

.lime-mix {
  @apply bg-linear-210 from-lime-500 to-emerald-400;
}

.yellow-mix {
  @apply bg-linear-210 from-yellow-500 to-amber-400;
}

.amber-mix {
  @apply bg-linear-210 from-amber-500 to-orange-400;
}

.orange-mix {
  @apply bg-linear-210 from-orange-600 to-rose-500;
}

.rose-mix {
  @apply bg-linear-210 from-rose-600 to-red-500;
}

.red-mix {
  @apply bg-linear-210 from-red-600 to-orange-500;
}

.pink-mix {
  @apply bg-linear-210 from-pink-600 to-rose-500;
}

.hotpink-mix {
  @apply bg-linear-210 from-rose-500 to-pink-500;
}

.aqua-mix {
  @apply bg-linear-210 from-cyan-500 to-blue-500;
}

.spring-mix {
  @apply bg-linear-210 from-green-500 to-teal-400;
}

.sunset-mix {
  @apply bg-linear-210 from-amber-500 to-rose-400;
}
